<strong>Listing Web Clips</strong>

<hr style="border-top:1px dotted #aaa;">

<% @web_clips.each do |web_clip| %>
  <div class="bookmark">
    <%= link_to web_clip.title, web_clip.url, :target => '_blank', :class => "bookmark_title" %><br />
    <div class="bookmark_quote">
      <%= web_clip.quote %><br />
    </div>
    <div class="bookmark_note">
      <%= web_clip.note %>
    </div>
    <div class="edit_links">
      <%= link_to 'Show', web_clip %>
      <%= link_to 'Edit', edit_web_clip_path(web_clip) %>
      <%= link_to 'Destroy', web_clip, :confirm => 'Are you sure?', :method => :delete %>
    </div>
  </div>
<% end %>

<hr style="border-top:1px dotted #aaa;">

<%= link_to 'New Web clip', new_web_clip_path %>
