<p id="notice"><%= notice %></p>
<div class="bookmark">
  <b>URL:</b>
  <div class="bookmark_title"><%= @web_clip.url %></div>
  <br />
  <b>Title:</b>
  <div class="bookmark_title"><%= @web_clip.title %></div>
  <br />
  <b>Quote:</b>
  <div class="bookmark_quote"><%= @web_clip.quote %></div>
  <br />
  <b>Note:</b>
  <div class="bookmark_note"><%= @web_clip.note %></div>
</div>

<%= link_to 'Edit', edit_web_clip_path(@web_clip) %> |
<%= link_to 'Back', web_clips_path %>
